@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto&family=Work+Sans:wght@500&display=swap');
html{
    font-size: 10px;
    --color-white: white;
    --color-orange: #FFB742;
}


body{
    background-color: #212529;
    
}

.header-menu{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    font-family: "Poppins";
}

.nav{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

ul{
    list-style: none;
    display: flex;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
}

.intro{
    text-align: center;
    position: relative;
    top: 60px;
    font-family: "Inter";
    color: white;
}

.Kartik{
    color: #FFB742;
}

.Hi{
    font-size: 3.2rem;
}

.dev{
  font-size: 48px; 
  
}

.about{
    position: relative;
    top: 40px;  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
}

.foto{
    position: relative;
    top: 60px;
}

.cards{
    position: relative;
    top: 250px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

    
}

.card{
    width: 30%;
    background: #292B2E;
    color: var(--color-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.card:hover{
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
} 

.card:hover .card-title, .card:hover .card-subtitle{
    color: #212529;
}

.card-title{
    font-size: 3.2rem;
    color: var(--color-orange);

}

.card-subtitle{
    font-size: 1.6rem;
    color: var(--color-white);
}

.who{
    position: relative;
    top: 400px;
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    font-family: "Poppins";
    margin: 0 auto;
}

.who-text{
    width: 40%;
    color: #D5D5D5;
    font-size: 1.6rem;
    font-weight: 400; 
}

.who-text-title{
    font-weight: 700;
    font-size: 4.8rem;
}

.who-pic-hire{
    position: relative;
    top: 50px;
}

.my-skills{
    position: relative;
    top: 500px;
}

.my-skills-title{
    font-size: 4.8rem;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.my-skills-text{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

.who-pic-hire{
    position: relative;
    top: 50px;
}

.rows{
    width: 35%;
}

.row1, .row2{
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}


.my-skills{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}

.my-works{
    position: relative;
    display: inline;
    top: 650px;
    text-align: center;
    font-size: 4.8rem;
    color: white;
    font-family: "Roboto";
    font-weight: 700;  
}

.my-works-menu{
    position: relative;
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    width: 50%;
    justify-content: space-between;
    margin: 0 auto;
    top: 30px;
}

.examples{
    display: flex;
    position: relative;
    top: 700px;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

.ex1, .ex2, .ex3{
    display: flex;
    flex-direction: column;
    height: 850px;
    justify-content: space-evenly;
}

.testi{
    position: relative;
    top: 800px;
    text-align: center;
    font-family: "Roboto";
    font-size: 3.9rem;
    color: white;
    font-weight: 700;
}

.cards2{
    position: relative;
    display: flex;
    top: 850px;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.footer{
    position: relative;
    background: #1C1C1C;
    top: 1100px;
    height: 470px;
    margin-left: 0px;
}

.footer-menu{
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-between;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    color: #7B7B7B;
    width: 90%;
    margin: 0 auto;

    
}

.Kartik2{
    color: #FFB742;
    font-size: 3.2rem;
}

.text{
    color: #D4D4D4;
    font-size: 1.6rem;
    line-height: 32px;
}

.footer-menu-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;
    color: #F5FBF2;
    line-height: 5rem;
}

.footer-menu-text{
    line-height: 3rem;
}



    







