@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

body{
    background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
    margin: 0%;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 10px;
}

.card{
    width: 70%;
    height: 50%;
    display: flex;
    position: relative;
    margin: 0 auto;
    top: 50px;
}

.card-left-side{
    width: 55%;
    height: 700px;
    background-color: white;

}

.card-left-side .kreo{
    position: relative;
    left: 3.2rem;
    top: 0.7rem;
    font-size: 2.4rem;
    color: rgba(73, 111, 116, 1);
    
}

.card-right-side{
    width: 45%;
    height: 700px;
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow: 0px 0px 10px 9px #4E7577;
}

.menu{
    display: flex;
    position: relative;
    left: 18rem;
    top: 1rem;
    width: 40%;
    justify-content: space-between;
    font-size: 1.6rem;
    color: white;
}

.card-right-side-text{
    font-size: 4rem;
    color: white;
    text-align: center;
    padding-top: 9rem;
}

.card-right-side-sign{
    font-size: 1.2rem;
    color: white;
    padding-left: 5.5rem;    
}

.card .card-left-side h3{
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
}

form div input{
    width: 25rem;
}

.form1{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.form1 > div{
    margin-bottom: 1rem;
}

.title{
    font-size: 1.2rem;
}

.semi{
    font-size: 0.8rem;
    color: rgba(0,0,0,0.2);
}

.submit1 > input{
    font-size: 1.4rem;
    font-family: 'Space Grotesk';
    background-color: #27485D;
    color: white;
}

p{
    color: #C4C4C4;
    font-size: 1rem;
}

a{
    color: #476D73;
}






