@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,700;1,400&display=swap');
body{
    /* width: 100%; */
    margin: 0%;
    background: #FBE4FF;
}

.header{
    font-family: "PT Sans", sans-serif;
    /* position: sticky;
    top: 0;
    z-index: 1; */
    /* height: 5vh; */

}

#fixed-div{
    width: 101px;
    height: 101px;
    border-radius: 50%;
    background-color: rgba(48, 12, 106, 0.3);
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 70px;
    right: 180px;
    z-index: 1;

}

.color1{
    background-color: #243B93;
    width: 100%;
    height: 80px;
    
}

.header_menu1 {
    width: 70%;
    color:  #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0 auto;    
}

ul{
    list-style: none;
    display: flex;
}

.nav{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

a{
    display: flex;
    color: white;
    align-items: center;
}



.color2{
   background-color: #BFF0FF;
   width: 100%;
    height: 80px;
}

.color2-text{
    font-size: 40px;
    font-style: #202846;
    margin-left: 250px;
    padding-top: 20px;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
}

.main{
    width: 70%;
    margin-top: 20px;
    margin: 0 auto;
    font-family: "PT Sans";
    font-style: Bold italic;
    font-weight: 700;
    
}

.place{
    background: #FFFFFF;
    position: relative;
    top: 20px;
    /* margin-left: 250px; */
    height: 50px;
    display: flex; 
    align-items: center;
}

.place-text{
    position: relative;
    left: 40%;
}

.place > svg{
    position: relative;
    top: -10%;
    left: 79%;
}

.card1{
    background: linear-gradient(to right, blue, #2CBDEB);
    position: relative;
    height: 300px;
    display: flex;
    justify-content: space-around;
    top: 40px;
    box-shadow: -10px -10px 15px #2CBDEB;
    align-items: center;
}

.card1:hover > .star path{   
    fill: yellow; 
}

.card2:hover > .star2 path{   
    fill: yellow; 
}

.card3:hover > .star3 path{   
    fill: yellow; 
}

.card4:hover > .star4 path{   
    fill: yellow; 
}


.card1-img{
    width: 30%;
}

img{
    width: 100%;
}

.card1-title{
    font-size: 40px;
    width: 50%;
    font-style: italic;
}

.card1-title-text{
    position: relative;
    font-size: 15px;
    background-color: white;
    height: 160px;
    /* width: 605px; */
    display: flex;
    top: 15px;  
}

.title-border{
    border-bottom: 2px solid white;
}

.star{
    position: absolute;
    left: 95%;
    top: 5%;
}

.detail{
   position: absolute;
   display: flex;
   justify-content: center;
   width: 210px;
   height: 46px;
   border-radius: 50px;
   background-color: blue;
   font-size: 24px;
   text-align: center;
    color:white;
    left: 85%;
    bottom: 5%;
    text-decoration: none;
}


.card2{
    background: linear-gradient(to right, blue, #2CBDEB);
    position: relative;
    height: 300px;
    display: flex;
    justify-content: space-around;
    top: 70px;
    /* margin-left: 250px; */
    align-items: center;
}

.card2-img{
    width: 30%;
}

.card2-title{
    font-size: 40px;
    width: 50%;
    font-style: italic;
}

.card2-title-text{
    position: relative;
    font-size: 15px;
    background-color: white;
    height: 160px;
    width: 605px;
    display: flex;
    top: 15px;  
}

.star2{
    position: absolute;
    left: 95%;
    top: 5%;
}

.detail2{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 210px;
    height: 46px;
    border-radius: 50px;
    background-color: blue;
    font-size: 24px;
    text-align: center;
     color:white;
     left: 85%;
     bottom: 5%;
     text-decoration: none;
}

.card3{
    background: linear-gradient(to right, blue, #2CBDEB);
    position: relative;
    height: 300px;
    display: flex;
    justify-content: space-around;
    top: 100px;
    /* margin-left: 250px; */
    align-items: center;
}

.card3-img{
    width: 30%;
}

.card3-title{
    font-size: 40px;
    width: 50%;
    font-style: italic;
}

.card3-title-text{
    position: relative;
    font-size: 15px;
    background-color: white;
    height: 160px;
    width: 605px;
    display: flex;
    top: 15px;  
    font-style: normal;

}

.star3{
    position: absolute;
    left: 95%;
    top: 5%;
}

.detail3{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 210px;
    height: 46px;
    border-radius: 50px;
    background-color: blue;
    font-size: 24px;
    text-align: center;
     color:white;
     left: 85%;
     bottom: 5%;
     text-decoration: none;
}

.card4{
    background: linear-gradient(to right, blue, #2CBDEB);
    position: relative;
    height: 300px;
    display: flex;
    justify-content: space-around;
    top: 130px;
    /* margin-left: 250px; */
    align-items: center;
}

.card4-img{
    width: 30%;
}

.card4-title{
    font-size: 40px;
    width: 50%;
    font-style: italic;
}

.card4-title-text{
    position: relative;
    font-size: 15px;
    background-color: white;
    height: 160px;
    width: 605px;
    display: flex;
    top: 15px;  
    font-style: normal;
    font-weight: 100;
}

.star4{
    position: absolute;
    left: 95%;
    top: 5%;
}

.detail4{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 210px;
    height: 46px;
    border-radius: 50px;
    background-color: blue;
    font-size: 24px;
    text-align: center;
     color:white;
     left: 85%;
     bottom: 5%;
     text-decoration: none;
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover{
    background: #2CBDEB;
}

.card1:hover .detail, .card2:hover .detail2, .card3:hover .detail3, .card4:hover .detail4{
    background-color: #EF075B;
}


/* personal */

.header-personal{
    background: linear-gradient(to right, yellow, rgba(85, 214, 255, 1));
    height: 85px;
    font-size: 40px;
    font-style: #202846;
    padding-left: 250px;
    padding-top: 20px;
    font-style: italic;
    position: relative;
    top: 160px;
}

.card{
    width: 70%;
    display: flex;
    position: relative;
    top: 200px;
    margin: 0 auto;
    background: linear-gradient(to right, rgba(133, 158, 255, 1), rgba(105, 255, 210, 0.5));
    height: 400px;
    align-items: center;
    justify-content: space-evenly
   
}

.pictures{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.change1{
    width: 250px;
    height: 50px;
    display: flex;
    border-radius: 30px;
    background-color: #243B93;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.change2{
    width: 250px;
    height: 50px;
    display: flex;
    border-radius: 30px;
    background-color: #EF075B;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.text{
    font-size: 2rem;
    
}

.text-text{
    border-bottom: 2px solid white;
    height: 50px;
    padding-top: 10px;
    font-style: italic;
}

.exit{
    width: 170px;
    height: 50px;
    display: flex;
    position: relative;
    top: 210px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: #243B93;
    justify-content: center;
    align-items: center;
}

/* contacts */

.header-contacts{
    background: linear-gradient(to right, rgba(85, 214, 255, 1), yellow);
    height: 85px;
    font-size: 40px;
    font-style: #202846;
    padding-left: 250px;
    padding-top: 20px;
    font-style: italic;
    position: relative;
    top: 300px;
}

.contacts{
    display: flex;
    position: relative;
    top: 400px;
    justify-content: space-evenly;
}

.adress{
    font-size: 32px;
}

.map > iframe{
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 5%;
}

.border{
    border-bottom: 2px solid black;
    height: 50px;
    padding-top: 10px;
}

.end{
    background-color: #243B93;
    height: 65px;
    display: flex;
    position: relative;
    color: white;
    align-items: center;
    padding-left: 100px;
    top: 430px;
    
}
