@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,700&display=swap');
@import url(./animation.css);
@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');

:root{
    font-size: 10px;
}

body{
    margin: 0;
    font-family: 'Rosario';
}

header{
    background: black;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.logo{
    align-self: stretch;
}

header > a > img{
    background-color: white;
    height: 100%;
    
} 

.menu{
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-between;
    margin-right: 2rem;
}

.menu > li > a{
    text-decoration: none;
    color: #FFFCFC;
    font-size: 3.6rem;
    font-style: italic;
}

.screen{
    min-height: 90vh;
    box-sizing: border-box;
    overflow: hidden;
}

.gallery{

}

.box{
    display: flex;
    height: 90vh;
    justify-content: space-around
    
}

.box > div{
    width: 20%; 
}

.left1, .right1{
    /* height: 80%; */
    align-self: center;
    display: flex;
}   

.left1{
    transform: translateX(-100vw);
    animation: img-show-left 3s linear 1 forwards;
}

.right1{
    transform: translateX(100vw);
    animation: img-show-right 3s linear 1 forwards;
}



.left2{
    transform: translateX(-100vw);
    animation: img-show-left 2s linear 1 forwards;
}

.right2{
    transform: translateX(100vw);
    animation: img-show-right 2s linear 1 forwards;
}

.left2, .right2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 80%; */
}

img{
    width: 100%;
}


.left2 div:first-child{
    /* height: 40%; */
    margin-top: 1.5rem;
}

.left2 div:last-child{
    /* height: 40%; */
    
}

.right2 div:first-child{
    /* height: 40%; */
    margin-top: 1.5rem;
}

.right2 div:last-child{
    /* height: 40%; */
}

.services{
    display: flex;
    width: 100%;
}

.services .left{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
}

.services .right{
    width: 40%;
}

.bg > img{
    height: 90vh;
}

.services .left > div{
    height: 50%;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.left div p{
    text-align: center;
    font-size: 4.8rem;
}

.left1s{
    top: 0;
    left: 0;
    animation: c1 10s linear infinite;
}

.left2s{
    top: 0;
    left: 50%;
    animation: c2 10s linear infinite;
}

.left3s{
    top: 50%;
    left: 50%;
    animation: c3 10s linear infinite;
}

.left4s{
    top: 50%;
    left: 0;
    animation: c4 10s linear infinite;
}

.title{
    font-size: 9.6rem;
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;
}

.teams{
    display: flex;
    justify-content: space-between;
    /* height: 80vh; */
    width: 95%;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.teams > div{
    width: 20%;
    height: 100%;
    position: relative;
}

.name > img{
    width: 100%;
    box-sizing: border-box;
}

.teams:hover > div{
    filter: brightness(0.5);
}

.teams > div:hover{
    filter: none;
}

.teams .name1{
    position: absolute;
    box-sizing: border-box;
    background: rgba(163, 83, 10, 0.7);
    bottom: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    border-radius: 0 0 60px 60px;
    font-size: 4.8rem;
    font-family: 'Volkhov';
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 1s;
}

.teams > div:hover .name1{
    height: 200px;
}

form{
    width: 100%;
    padding: 15px 0px 5px 5px;
    height: 400px;
    background: rgba(229, 229, 229, 1);
    /* display: flex;
    flex-direction: column; */
}

.left-side{
    width: 60%;
    position: relative;
    /* padding-top: 60px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title{
    font-size: 5.4rem;
    text-align: center;
} 

.contacts{
    display: flex;
    position: relative;
    width: 90%;
    top: 10px;
    margin: 0 auto;
    justify-content: space-evenly;  
}

.map{
    width: 50%;
    position: relative;
    top: 70px;
}

.map iframe{
    width: 100%;
    height: 600px;
}

.input-name{
    /* width:  400px; */
    height: 58px;
    font-size: 3.6rem;
}

.input-email{
    font-size: 3.6rem;
    height: 58px;
}

input {
    width: 46%;
    height: 58px;
    font-size: 3.6rem;    
    color:#fff;
    padding-left: 25px;
    padding-right:0px;
    margin-bottom:20px;
    margin-left: 8px;
    margin-right: 0;
    color: rgba(0, 0, 0, 0.5);
    border: none;
}


textarea{
    width: 96%;
    font-size: 3.6rem;
    height: 290px;
    border: none;
    padding-left:10px;
    padding-right:10px;
    padding-top:12px;
    margin-bottom:10px;
    margin-left: 10px;
    overflow:hidden;
    color: rgba(0, 0, 0, 0.5);
}



.footer-contacts{
    position: relative;
    top: 100px;
    font-size: 3.6rem;
    margin-bottom: 0%;
    display: flex;
    justify-content: space-around;
    
}

.footer-right img{
    width: 12%;
}

.footer-right a{
    text-decoration: none;
}

.footer-left a{
    text-decoration: none;
}

.footer-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
   .screen{
    min-height: 100%;
   }
   
    .box{
    height: 100%;
    flex-direction: column;
   }
   

   .box > div{
    width: 80%;
   }

   .left1{
    order: 1;
   }

   .left2:first-child{
    order: 2;
   }

   .left2:last-child{
    order: 3;
   }
    
   .right2:first-child{
    order: 4;
   }

   .right2:last-child{
    order: 5;
   }

   .right1{
    order: 6;
   }
   
}











