@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

.background{
    width: 50%;
    height: 470px;
    background-color: #FFB084;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-auto-rows: 40px;
    gap: 20px;
    margin: 0 auto;
    padding: 20px 50px;
    justify-content: center;
}

.background div{
    border: 1px;
    border-radius: 20px;
    background-color: white;    
}

.card{
    grid-row-start: 1;
    grid-row-end: 7;
    box-shadow: 7px 7px 0px #000000;
    
}

.card div{
    border: none;
    padding-top: 15px;
    padding-left: 25px;
    display: block;
    justify-content: center;
    padding-top: 20px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.card .pic{
    text-align: center;
    padding-left: 0;
}

div .card-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.tagline{
    box-shadow: 7px 7px 0px #000000;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    text-align: center;
    align-items: center;
}

.bio{
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 3;
    box-shadow: 7px 7px 0px #000000;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-evenly;
    padding: 20px 20px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px; 
}

.bio div{
    border: none;
}


.goals{
    grid-row-start: 3;
    grid-row-end: 5;
    box-shadow: 7px 7px 0px #29A71E;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-evenly;
    padding: 0px 20px;
}

.goals div:nth-child(1) {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #29A71E;
}

.goals div:nth-child(2) {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}



.companies{
    grid-row-start: 5;
    grid-row-end: 8;
    box-shadow: 7px 7px 0px #3675B0;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-evenly;
    padding: 0px 20px;
}

.companies div:nth-child(1) {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #3675B0;
}

.companies div:nth-child(2) {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.frustrations{
    grid-row-start: 3;
    grid-row-end: 6;
    box-shadow: 7px 7px 0px #E13535;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-evenly;
    padding: 10px 20px;
    font-family: 'Work Sans';
    font-style: normal;
}

.frustrations div:nth-child(1) {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #E13535;
}

.frustrations div:nth-child(2) {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.personality{
    grid-row-start: 6;
    grid-row-end: 8;
    box-shadow: 7px 7px 0px #000000;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-evenly;
    padding: 10px 20px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px; 
}

.personality div{
    border: none;
}
