body{
    max-width: 1700px;
    min-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.header{
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
}

.header-blue{
    color: #3E45E8;
}
.header-yellow{
    color: #E8C23E;
}

.background {
    background-image: url(../image/фонове_зображення.jpg);
    background-position: top center;
    background-size: 100%;
    height: 766px;
    width: 100%;
   position: relative;    
   background-repeat: no-repeat;
}

.background_text{
    color: white;
    font-size: 40px;
    position: relative;
    left: 10%;
    top: -530px;
    font-size: 60px;
}



    #prapor{  
    background-image: url(../image/img\ прапор.jpg);
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat; 
    top: 30%;
    left: 5%;
} 

.descript{
  font-size: 64;
  color: white;
  font-weight: 700;
  margin-left: 200px;
  
}
h2{
    margin-left: 80px;
}

.card-list {
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
  }
  
  .card-item {
    width: 260px;
    height: 320px;
    border: 5px solid black;
    border-radius: 30px;
    box-shadow: 0px 15px 25px blue;
    transition-duration: 100ms;
    transition-timing-function: linear;
  }
  
  .card-item:first-child {
    box-shadow: -10px 15px 25px blue;
  }
  
  .card-item:last-child {
    box-shadow: 10px 15px 25px blue;
  }
  
  .card-item > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ff9900;
  }
  
  .card-bg-box {
    width: 100%;
    height: 65%;
    border-radius: 25px 25px 10px 10px;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-size: cover;
    background-position: center;
    transition-duration: 200ms;
    transition-timing-function: revert;
  }
  
  .card1 {
    background-image: url(../image/фото\ тустань.jpg);
  }
  
  
  
  .card2 {
    background-image: url(../image/фото\ луцький\ замок.jpg);
  }
  
  
  .card3 {
    background-image: url(../image/1200px-Городище_літописного_міста._Тустань\ 3.jpg);
  }
  
  
  
  .card-textbox {
    margin-top: 15px;
    margin-left: 10px;
  }
  
  .card-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: blue;
  }
  
  .card-text {
    width: 80%;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
  }

.background2{
    background-image: url(../image/Rectangle\ 6.jpg);
    background-position: center;
   background-attachment: scroll; 
   height: 81px;
   width: 440;
   background-repeat: no-repeat; 
   font-size:60px;
   text-align: center;
   color:white;
}

.map{
    text-align: center;
}

.background3{
    background-image: url(../image/Rectangle\ 7.jpg);
    background-position: center;
   background-attachment: scroll; 
   height: 233px;
   width: 100%;
   /* position: relative;    */
   background-repeat: no-repeat; 
   font-size: 40px;
}

.h2{
    text-align: center;
}

.rect{
    text-align: center;
}