body{
     margin: 0;
}

.header{
    background-image: url(./image/надпис.png), url(./image/фон.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    background-size: auto, 100%;
    background-position: center, center;
    background-repeat: no-repeat;
}

h2{
    margin-left: 120px;
}

.card-list{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    /* flex-direction: row; */
    justify-content: space-around;
    list-style: none;
}

.card-item {
    width: 400px;
    height: 460px;
    border: 0.5px solid black;
    /* border-radius: 30px; */
    /* box-shadow: 0px 15px 25px blue; */
    transition-duration: 100ms;
    transition-timing-function: linear;
  }

  .card-item > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
    

  .card-bg-box_card1 {
    width: 100%;
    height: 100%;
    background-image: url(./image/фон\ картки\ 1.png);
    background-repeat: no-repeat; 
  }

  .card-bg-box_card1_1{
    width: 100%;
    height: 100%;
    background-image: url(./image/фото\ галереї.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 200px;
  }

  .card-bg-box_card1_2{
    width: 100%;
    height: 100%;
    background-image: url(./image/галерея.png);
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: 50px;
  }


  .card-bg-box_card2 {
    width: 100%;
    height: 100%;
    background-image: url(./image/фон\ картки\ 2.png);
    background-repeat: no-repeat; 
  }

  .card-bg-box_card2_1{
    width: 100%;
    height: 100%;
    background-image: url(./image/фото\ спорту.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 200px;
  }

  .card-bg-box_card2_2{
    width: 100%;
    height: 100%;
    background-image: url(./image/спорт.png);
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: 50px;
  }

  .card-bg-box_card3 {
    width: 100%;
    height: 100%;
    background-image: url(./image/фон\ картки\ 3.png);
    background-repeat: no-repeat; 
  }

  .card-bg-box_card3_1{
    width: 100%;
    height: 100%;
    background-image: url(./image/фото\ інше.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 200px;
  }

  .card-bg-box_card3_2{
    width: 100%;
    height: 100%;
    background-image: url(./image/більше.png);
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: 50px;
  }

  .foto{
    background-image: url(./image/фото.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    background-size: 91% 91%;
    background-position: center;
    margin-left: 43px;
  }

  .end{
    background-image: url(./image/фон_низ.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 279px;
    background-size: 100%;
  }

  .nav > li{
    display: inline-block
  }

  .nav1 > li{
    display: inline-block
  }

  .nav > li{
    padding: 0px 122px;
    padding-left: 400px;
    padding-top: 20px;
  }

  .nav1 > li{
    padding: 0px 150px;
    padding-left: 400px;
  }

 .contacts{
    font-size: 20px;
    color: white;
    text-align: center;
    border-bottom: 10px;
    border-bottom-color: tomato;
    border-bottom-style: solid;
    width: 20%;
    margin: 0 auto;
 } 

 .soc{
    text-align: center;
 }